//
//  Config.xcconfig
//
//  Created by Mathew Gacy on 12/18/22.
//  Copyright © 2022 Blue Triangle. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

BASE_URL = example.com/api
SITE_ID = bluetriangledemo500z
DEVELOPMENT_TEAM = UG892XBK75

// Developers can override the Xcode settings by creating a build configuration file named
// `DeveloperConfig.xcconfig` at the root directory with the following:
//
//    BASE_URL = <Your URL (excluding `https://`)>
//    SITE_ID = <Your Site ID>
//    DEVELOPMENT_TEAM = <Your Team ID>
//
// You should then be able to build without modifying the project.

#include? "../../DeveloperConfig.xcconfig"
